:root {
  background-color: #f6f6f6;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  display: none;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #2f2f2f;
  }
}

img {
  width: 100%;
  height: auto;
}

img.active {
  z-index: 1;
}
